<div class="grid-container">
    <div class="intro"> 
        <h1><%= config.title %></h1>
        <p><%= config.description %></p> 
    </div>
    
    <div class="recent"> 
        <% page.posts.each(function(item){ %>
            <%- partial('_partial/article-excerpt', {item: item}) %>
        <% }); %>
        <%- partial('_partial/pagination') %>
    </div>
   
    
    <div class="cat"> 
        <p>
            <% site.categories.sort('name').each(function(item){ %>
                <a href="<%- config.root %><%- item.path %>"> <%= item.name %></a>
            <% }); %>
        </p>
    </div>
    <div class="cloud"> 
      <p> 
            <% site.tags.sort('name').each(function(item){ %>
                <a href="<%- config.root %><%- item.path %>" style="font-size: <%- Math.min(item.posts.length * 2 + 13, 30) %>px"><%= item.name %></a>
            <% }); %>
    </p>
    </div>
</div>
    
    


